/* Tablet -->  width: >= 740px & width < 1040px*/
@media only screen and (min-width: 46.25rem) and (max-width: 64.9375rem) {
    .col-2 {

        width: 100%;
        margin-top: 10px;
        display: flex;

    }

    .content {
        margin: 0 auto;
    }
}

/* Tablet and Mobile --> width < 1040px */
@media only screen and (max-width: 64.9375rem) {
    .col-2 {

        width: 100%;
        margin-top: 10px;
        display: flex;

    }

    .content {
        margin: 0 auto;
    }
}


/* Mobile --> width: < 740px */
@media only screen and (max-width: 46.1875rem) {
    .col-2 {

        width: 100%;
        margin-top: 10px;
        display: flex;

    }

    .content {
        margin: 0 auto;
    }
}